input {
  keyboard {
    xkb {
      layout "us"
    }
    numlock
    repeat-delay 250
    repeat-rate 35
    }

  touchpad {
    tap
    natural-scroll
    click-method "clickfinger"
    scroll-factor 0.5
  }
  focus-follows-mouse
}
